{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'orders/orders.css' %}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'product/home.css' %}">
    <link rel="stylesheet" href="{% static 'cart/cart.css' %}">


</head>

<body>
    {% include 'product/navbar.html' %}
    <div class="container ">

        <div class="order">
            {% for product in shop_list.products.all  %}
            <div class="card" style="width: 80%;height: 140px;">
               <div class="row align-items-center" style="width: 80%;height: 140px;">
                   <a href="{% url 'detail' id=product.id %}"> <img src="{{product.image.url}}" alt="">
                   </a>
                    <div class="col ">
                       <a href="{% url 'detail' id=product.id %}"> <div class="name"> {{product.name}}</div>
                    </a>
                       <a href="{% url 'cart' cat_name=product.category.name %}"> <div class="category">{{product.category.name}}</div>
                       </a>
                        <div class="row">
                            <div class="rating"><i class="fa fa-star" aria-hidden="true"></i>
                                Rating {{product.rating}}</div>
                            <div class="discount"><i class="fa fa-percent" aria-hidden="true"></i>
                                Discount {{product.discount}}%

                            </div>
                        </div>
                        <div class="price">
                            ₹{{product.price}}</div>
                    </div>
                    <a href="{% url 'removeCard' id=product.id %}">
                    <div class="col-1 remove">
                        <button type="submit">Remove</button>
                    </div>
                    </a>

                </div>

            </div>
            {% endfor %}
        </div>

        <div class="cart">
            <form action="" method="GET">
                <h5>Delivery-Address

                    </h4>
                    <div class="group">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <input type="text" placeholder=" address" name="address">

                    </div>
                    <h4>PRICE ITEMS</h4>
                    <table class="table table-borderless ">

                        <tbody>
                            <tr>
                                <th>Price ({{shop_list.products.count}} items) </th>
                                <td scope="col">₹{{price}}</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td class="green">₹ {{total_discount}}</td>

                            </tr>
                            <tr>
                                <th>Delivery Charges</th>
                                <td>₹ {{delivery_charge}} </td>
                            </tr>
                            <tr class="total-amount">
                                <th> Total Amount</th>
                                <td>₹{{total_amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="order-button">
                       
                             <button type="submit"> PLACE ORDER</button>
                        
                    </div>
            </form>
        </div>

    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>