{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'product/home.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'product/product-deaitls.css' %}">


    <!-- Bootstrap CSS -->


</head>

<body>
    {% include 'product/navbar.html' %}

    

    
    <div class="detail">
        <div class="left img-zoom-container">
            <img id="image" src="{{p.image.url}}" alt="">
            <div id="result" class="img-zoom-result"></div>
        </div>
        <div class="right">
            <div class="name">{{p.name}}</div>
            <div class="str-line"></div>
            <div class="middle-data">
                <div class="price">₹{{p.discounted_price}}</div>
                <div class="actual-price">₹{{p.price}}</div>
                <div class="discount"> ({{p.discount}}% OFF)</div>
            </div>

            <div class="line">with all taxes included</div>
           <a href="{% url 'payment' %}"> <div class="button">
                <button type="button" class="buy-btn">BUY</button>
           </a>
                <a href="{% url 'addCard' id=p.id %}">
                     <button type="button" class="add-btn">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        ADD TO BAG 
                    </button>
                </a>

            </div>
            <div class="disc">{{p.description|safe}}</div>


            <div class="review">{{review.count}} Review</div>
            <div class="review-containt">
                {% for r in review %}
                <div class="review-data"> {{r.messege}}
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
   

    <script src="{% static 'product/zoom.js' %}"></script>
    <script src="{% static 'product/review.js' %}"></script>
    <script>
        imageZoom("image", "result");
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>